<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <div class="content">
        <h1>Know you calories</h1>
        <p>A perfect platform to know your calories.</p>
        <p>Which will help you to be fit and lead healthy lifestyle.</p>
        <a href="/signup" class="btn">Get Started</a>
    </div>
</body>
</html>
